# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./.vscode/
~/github/cka-learning/.vscode/
~/github/cka-learning/.idea/
# Ignore all .iml files
*.iml
# Ignore all .ipr files
*.ipr
# Ignore all .iws files
*.iws
# Ignore all .idea files
.idea/
# Ignore all .DS_Store files